<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/build/assets/app.css">
    <title>Neploy</title>
</head>

<body class="font-sans antialiased">
{{ .inertia }}
{{ if .IsDev }}
<script type="module" src='{{vite "/resources/js/vite-preamble.jsx" }}'></script>
{{ end }}
<script type="module" src='{{ vite "resources/js/app.jsx" }}' type="text/javascript"></script>
</body>
</html>