@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #0CC0E9;

    --background: 222 63% 10%;
    --foreground: 222 9% 97.4%;

    --muted: 222 45% 14.4%;
    --muted-foreground: 222 9% 54.8%;

    --popover: 222 47% 6.24%;
    --popover-foreground: 222 9% 97.4%;

    --card: 222 63% 15%;
    --card-foreground: 222 9% 97.4%;

    --border: 222 45% 14.4%;
    --input: 222 45% 14.4%;

    --primary: 191 92% 48%;
    --primary-foreground: 0 0% 0%;
    --primary-foreground-hover: 0 0% 100%;

    --secondary: 120 25% 51%;
    --secondary-foreground: 0 0% 100%;

    --accent: 157 68% 51%;
    --accent-foreground: 0 0% 100%;

    --destructive: 343 68% 55%;
    --destructive-foreground: 0 0% 100%;

    --ring: 191 92% 48%;

    /* Sidebar Light Theme */
    --sidebar-background: 222 63% 15%;
    --sidebar-foreground: 222 9% 97.4%;
    --sidebar-primary: 191 92% 48%;
    --sidebar-primary-foreground: 222 9% 4.8%;
    --sidebar-accent: 191 92% 51%;
    --sidebar-accent-foreground: 222 9% 3%;
    --sidebar-border: 222 45% 14.4%;
    --sidebar-ring: 191 92% 48%;
  }
 
  .dark {
    --background: 222 63% 10%;
    --foreground: 222 9% 98%;

    --muted: 222 45% 20%;
    --muted-foreground: 222 9% 60%;

    --popover: 222 47% 10%;
    --popover-foreground: 191 92% 48%;

    --card: 222 63% 15%;
    --card-foreground: 222 9% 98%;

    --border: 222 45% 20%;
    --input: 222 45% 20%;

    --primary: 191 92% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 120 25% 51%;
    --secondary-foreground: 0 0% 100%;

    --accent: 157 68% 51%;
    --accent-foreground: 0 0% 100%;

    --destructive: 343 68% 55%;
    --destructive-foreground: 0 0% 100%;

    --ring: 191 92% 48%;

    --radius: 0.5rem;

    --sidebar-background: 222 63% 8%;
    --sidebar-foreground: 222 9% 98%;
    --sidebar-primary: 191 92% 48%;
    --sidebar-primary-foreground: 222 9% 4.8%;
    --sidebar-accent: 157 68% 51%;
    --sidebar-accent-foreground: 222 9% 98%;
    --sidebar-border: 222 45% 20%;
    --sidebar-ring: 191 92% 48%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}